# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Dataset (large)
data/

# PyTorch model weights
models/

# Jupyter checkpoints
.ipynb_checkpoints/

# Optional: OS-specific
.DS_Store
Thumbs.db
